{% extends 'common/base.html' %}


{% block content %}
<link rel="stylesheet" href="/static/css/user/mypage.css">

<style>
    #mypage__body__profile__nickname {
        margin-top: 50px;
        background-color: #FFF;
    }

    #mypage__body__profile__password {
        margin-top: 15px;
        background-color: #FFF;
    }
</style>
<section id="mypage" class="zuzu__container">
    <div id="mypage__tabs">
        <div id="mypage__tabs__profile" class="mypage__tabs__item mypage__active"><i class="fas fa-user"></i></div>
        <div id="mypage__tabs__feed" class="mypage__tabs__item"><i class="far fa-list-alt"></i></div>
        <div id="mypage__tabs__notification" class="mypage__tabs__item"><i class="fas fa-cog"></i></div>
    </div>

    <div id="mypage__body">
        <form id="ajax" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div id="mypage__body__profile">
                <div id="mypage__body__profile__avatar" onclick="triggerUploadEvent()">
                    <div id="mypage__body__profile__avatar__img">
                        <img src="/media/{{data.avatar}}" alt="" srcset=""
                            id="mypage__body__profile__avatar__img__style">
                        <div id="mypage__body__profile__avatar__img__edit"><i class="fas fa-pen"></i></div>
                    </div>
                </div>

                <input type="file" name="image" id="img__value" onchange="uploadAvatarImg(this);"
                    style="display: none;">

                <input type="text" name="stats_msg" id="mypage__body__profile__statusmsg"
                    placeholder="{{data.status_msg}}" class="zuzu__input">
        </form>
        <div id="mypage__body__profile__nickname" class="zuzu__container__rect">
            <div class="zuzu__container__rect__body">
                <div class="zuzu__container__rect__body__title">핑쿠리</div>
                <div class="zuzu__container__rect__body__detail">닉네임</div>
            </div>
            <div class="zuzu__container__rect__btn">change</div>
        </div>
        <div id="mypage__body__profile__password" class="zuzu__container__rect">
            <div class="zuzu__container__rect__body">
                <div class="zuzu__container__rect__body__title">********</div>
                <div class="zuzu__container__rect__body__detail">password</div>
            </div>
            <div class="zuzu__container__rect__btn" onclick="window.location.href=`/password-change` ">change</div>
        </div>

        <a href="/logout">
            <div id="mypage__body__profile__btn" class="zuzu__btn">
                로그아웃
            </div>
        </a>
    </div>
    </div>
</section>

<script>


    function triggerUploadEvent() {
        $('#img__value').trigger('click')
    }

    function uploadAvatarImg(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function (e) {
                $("#mypage__body__profile__avatar__img__style").attr("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>




{% endblock content %}