/* css */
/* responsive  */
@font-face {
  font-family: 'NanumSquareRound';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  /* color: #22304f; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'NanumSquareRound';
}

body {
  background-color: #EAEDF5;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

input:focus {
  border: none;
  outline: none;
}

@media (max-width: 757px) {
  * {
    overflow-y: hidden;
  }
}

/* scroll bar */
/* firefox */
* {
  scrollbar-width: thin;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #A3A3A3 #EAEDF5;
}

/* chrome */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #EAEDF5;
}

*::-webkit-scrollbar-thumb {
  background: #A3A3A3;
}
