/* css */
/* responsive  */
/* input */
.zuzu__input, .zuzu__input__lock {
  width: 100%;
  height: 40px;
  color: #585858;
  background-color: #FFFFFF;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  text-indent: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.zuzu__input__valid {
  border: 2px solid #5cbc73;
}

.zuzu__input__invalid {
  border: 2px solid #db303e;
}

.zuzu__input__lock {
  pointer-events: none;
  background-color: #EAEDF5;
}

.zuzu__input:focus, .zuzu__input__lock:focus {
  background-color: #FFFFFF;
  border: 2px solid #4C9EFF;
  border-radius: 0.3rem;
}

/* btn */
.zuzu__btn, .zuzu__btn__disabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  background-color: #4678F8;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.zuzu__btn__disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.zuzu__checkbox, .zuzu__checkbox__checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  width: 15px;
  height: 15px;
  color: #FFFFFF;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  cursor: pointer;
}

.zuzu__checkbox__checked {
  background-color: #4678F8;
  border-color: #4678F8;
}

.zuzu__btn:hover, .zuzu__btn__disabled:hover {
  background-color: #0069D9;
}

.zuzu__btn__disabled:hover {
  background-color: #57A7EE;
}

/* switch */
.zuzu__switch, .zuzu__switch__on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 35px;
  background-color: #B3C4FF;
  border-radius: 3rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.zuzu__switch__on {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #4678F8;
}

.zuzu__switch__power {
  width: 25px;
  height: 25px;
  border-radius: 3rem;
  margin: 0 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* radio */
.zuzu__radio, .zuzu__radio__checked {
  width: 20px;
  height: 20px;
  border: 3px solid lightgray;
  border-radius: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.zuzu__radio__checked {
  border: 5px solid #4678F8;
}

/* selectbox */
.zuzu__selectbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 40%;
  height: 50px;
  margin: 0 auto;
  color: #585858;
  background-color: #FFFFFF;
  border: 3px solid darkgray;
  border-radius: 0.5rem;
  text-indent: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.zuzu__selectbox__selection {
  display: none;
  position: absolute;
  width: 98%;
  top: 55px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  border-bottom: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  /* border: none; */
}

.zuzu__selectbox__selection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid lightgray;
}

.zuzu__selectbox__selection__item:hover {
  border: none;
  background-color: #4678F8;
  color: #FFFFFF;
}

.zuzu__selectbox:hover {
  border-color: #4678F8;
}

.zuzu__selectbox__arrow {
  position: absolute;
  left: 85%;
  /* margin: 0 0 0 auto; */
}

.zuzu__container {
  width: 98vw;
  max-width: 600px;
  margin: 0 auto;
  background-color: #F8FAFD;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  padding: 60px 0;
}

.zuzu__container__rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 80px;
  margin: 0 auto;
  border: 1px solid lightgray;
  background-color: #F8FAFD;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-right: 5%;
}

.zuzu__container__rect__body {
  width: 60%;
  margin-left: 10%;
}

.zuzu__container__rect__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 40%;
  margin: 0 0 0 auto;
  color: #fff;
  background-color: #EC6C1B;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.zuzu__container__rect__btn:hover {
  background-color: #c25510;
}

@media (max-width: 757px) {
  .zuzu__btn, .zuzu__btn__disabled {
    width: 100%;
  }
  .zuzu__container {
    padding: 50px 0;
  }
  .zuzu__container__rect__btn {
    width: 30%;
  }
}
