{% extends 'common/base.html' %}


{% block content %}

<div id="lobby__start" style="display: flex; width: 100%; justify-content: center;">
    대화 시작하기
</div>



<script>
    document.querySelector("#lobby__start").addEventListener("click",()=>{
        $.ajax({
                type: 'POST',
                data: {
                    user_id: document.querySelector("#login__form__input__id").value,
                    password: document.querySelector("#login__form__input__pw").value,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {

                },
                error: function (error) {
                    Swal.fire({
                        position: "top",
                        icon: "error",
                        title: "예상치 못한 오류가 발생했습니다."
                    }).then(function () {
                        location.href = "/"
                    })
                }
            })
    })
</script>

{% endblock %}